* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}
header {
  text-align: center;
}
header h1 {
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}

header a {
  color: aquamarine;
  font-size: 16px;
}
.video {
  margin-top: 40px;
  margin-bottom: 25px;
}
.travel-guide h1 {
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 20px;
}

.travel-guide p {
  font-size: 21px;
  color: gray;
  margin-bottom: 20px;
}

.app img {
  margin-top: 20px;
  margin-bottom: 40px;
}
.app p {
  font-weight: normal;
  font-size: 50px;
}

footer {
  margin-top: 30px;
}
footer a {
  color: aquamarine;
  font-size: 16px;
}
footer p {
  padding: 10px 0;
  text-align: right;
  color: gray;
}
